@import url(https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:regular,italic,700,700italic);

.GridSize button {
	background-color: red;
}

* {
	padding: 0;
	margin: 0;
	font-family: Atkinson Hyperlegible;
}

body {
	height: 100vh;
	position: relative;
}

.settings {
	background-color: #152938;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	position: absolute;
}

.settings > h1 {
	color: #fcfcfc;
}

.btn {
	display: flex;
	flex-direction: column;
	background-color: #fcfcfc;
	width: 50%;
	border-radius: 20px;
	padding: 60px;
}

.settings .btn button:hover {
	background-color: #6395B8;
}

#Start:hover{
	background-color: #fda214;
}

.settings button {
	width: 100%;
	margin: 15px 8px 15px 8px;
	color: #fcfcfc;
	border: 0;
	background-color: #bcced9;
	border-radius: 100px;
	font-weight: 700;
	font-size: 26px;
	line-height: 32.24px;
	letter-spacing: 0px;
	text-align: center;
}

.settings button.active {
	background-color: #304859;
}

.BTN-Grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.TT {
	font-weight: 700;
	font-size: 20px;
	line-height: 24.8px;
	letter-spacing: 0px;
}

.btn > button:last-child {
	background-color: #fda214;
	font-size: 32px;
	line-height: 39.68px;
	text-align: center;
	padding: 10px;
}

/*/ ================================================ /*/

.game {
	background-color: #fcfcfc;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 0.2fr 4fr 1fr;
	grid-template-columns: 1fr;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header > p {
	font-family: Atkinson Hyperlegible;
	font-weight: 700;
	font-size: 40px;
	line-height: 49.6px;
	letter-spacing: 0px;
}

.header {
	display: flex;
}

.header button {
	margin: 5px;
	padding: 10px;
	border: 0;
	border-radius: 666px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24.8px;
	letter-spacing: 0px;
	text-align: center;
}

.header button:first-child {
	background-color: #fda214;
	color: #fcfcfc;
}

.header button:last-child {
	background: #dfe7ec;
	color: #304859;
}

.p1 {
	margin-top: 100px;
	height: 10%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.p1 > div {
	background-color: #dfe7ec;
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	padding: 15px;
}

.p1 > div > p:first-child {
	color: #7191a5;
	font-family: Atkinson Hyperlegible;
	font-weight: 700;
	font-size: 18px;
	line-height: 22.32px;
	letter-spacing: 0px;
}

.p1 > div > p:last-child {
	color: #304859;
	font-family: Atkinson Hyperlegible;
	font-weight: 700;
	font-size: 32px;
	line-height: 39.68px;
	letter-spacing: 0px;
	text-align: right;
}

.Gride {
	display: grid;
	gap: 10px;
	height: 60vmin;
	width: 60vmin;
}

.Gride > button {
	display: flex;
	border-radius: 666px;
	background-color: #304859;
	border: 0;
	font-family: Atkinson Hyperlegible;
	font-weight: 700;
	font-size: 5vmin;
	line-height: 69.44px;
	letter-spacing: 0px;
	text-align: center;
	color: transparent;
	align-items: center;
	justify-content: center;
}

.Gride > button > img{
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(98%);
	visibility: hidden;
}

.Gride > button.active {
	color: #fcfcfc;
	background-color: #fda214;
}

.Gride > button:hover{
	background-color: #6395B8
}


.Gride > button.active:hover {
	background-color: #fda214;
}

.Gride > button.yes:hover{
	background-color: #bcced9;
}

.Gride > button.active> img,
.Gride > button.yes > img{
	visibility: unset;
}

.Gride > button.yes {
	color: #fcfcfc;
	background-color: #bcced9;
}

.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.p1 {
	display: none;
}

.mp {
	display: grid;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 15px;
	padding: 5px;
}

.j {
	position: relative;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 10vmin;
	width: 100%;
	background-color: #dfe7ec;
	border-radius: 15px;
}

.j > p:first-child {
	font-weight: 700;
	font-size: 15px;
	line-height: 18.6px;
	letter-spacing: 0px;
	color: #7191a5;
}

.j > p:last-child {
	font-weight: 700;
	font-size: 24px;
	line-height: 29.76px;
	letter-spacing: 0px;
	color: #304859;
}

div.j#play {
	background-color: #fda214;
}

div.j#play:before {
content: "";
position: absolute;
top: 0;
left: 50%;
width: 20px;
height: 20px;
background-color:#fda214;
transform: translate(-50%, -50%) rotate(45deg);
}

div.j#play::after {
	content: "CURRENT TURN";
	letter-spacing: 1rem;
	position: absolute;
	text-align: center;
	top: 100%;
	left: 50%;
	width: 100%;
	height: 20px;
	transform: translate(-50%, 50%);
	}

div.j#play > p {
	color: #fcfcfc;
}

.pupump {
	width: 100%;
	height: 100%;
	background-color: #15293879;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	display: none;
}

.bg, .bga {
	background-color: #f2f2f2;
	border-radius: 15px;
	padding: 15px;
	width: 70%;
}

.bg > h1 {
	color: #152938;
	font-weight: 700;
	font-size: 48px;
	line-height: 59.52px;
	letter-spacing: 0px;
	text-align: center;
}

.bg > p {
	color: #7191a5;
	font-weight: 700;
	font-size: 18px;
	line-height: 22.32px;
	letter-spacing: 0px;
	text-align: center;
}

.result > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	font-weight: 700;
	font-size: 18px;
	line-height: 22.32px;
	letter-spacing: 0px;
}

.result > div > p:first-child {
	color: #7191a5;
}
.result > div > p:last-child {
	color: #304859;
}

.result > div {
	background-color: #dfe7ec;
	padding: 20px;
	border-radius: 15px;
	margin-top: 10px;
}

.result > div.Winer > p {
	color: #fcfcfc;
}

div.Winer {
	background-color: #152938;
}

.btnn > button:first-child {
	background-color: #fda214;
	color: #fcfcfc;
}

.btnn > button:last-child {
	background-color: #dfe7ec;
	color: #304859;
}

.btnn > button {
	border: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24.8px;
	letter-spacing: 0px;
	text-align: center;
	border-radius: 15px;
	width: 95%;
	padding: 5px;
}

.btnn {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#Menu{
	background-color: #FDA214;
	color: #fcfcfc;
	padding-right: 15px;
	padding-left: 15px;
	display: none;
}

.bga{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.bga > button{
	background-color: #DFE7EC;
	color: #304859;
	border: 0;
	border-radius: 15px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24.8px;
	letter-spacing: 0px;
	text-align: center;
	padding: 10px;
}

.bga > button:first-child{
	background-color: #FDA214;
	color: #fcfcfc;
}

@media screen and (max-width : 600px){
	#Menu{
		display: unset;
	}

	#Reset, #NewGame{
		display: none;
	}

	.btn{
		width: 80%;
	}
	
}